- model_class = Article
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:author) + ':'
  = @article.author
  %br
  %strong= model_class.human_attribute_name(:title) + ':'
  = @article.title
  %br
  %strong= model_class.human_attribute_name(:content) + ':'
  = @article.content
  %br
  %strong= model_class.human_attribute_name(:locale) + ':'
  = @article.locale

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), articles_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_article_path(@article), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), article_path(@article), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
